body {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
}

.swim-lanes {
  min-height: 60vh;
}

.task-card {
  margin: 0 auto;
}

.task-card:hover {
  cursor: grab;
}
.btn-outline-danger {
  color: #ffffff;
  border-color: #dc3545;
}

.btn-outline-danger:hover {
  color: #ffffff;
  background-color: #dc3545;
  border-color: #dc3545;
}

.bg-danger {
  color: #ffffff;
}

.bg-warning {
  color: #000000;
}
